/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* CSS Variables  */
:root {
    --navbar-height: 59px;
}

/* Navigation bar  */
#navbar {
    height: 15vh;
    display: flex;
    align-items: center;
    position: fixed;
    font-family: 'Caprasimo', cursive;
}
#navbar::before {
    content: "";
    background-color: rgba(55, 55, 55, 0.926);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation bar : logo and image  */
#logo {
    margin: 2em 2em;
    /* padding: 100px 100px; */
}
#logo img{
    /* margin: 34px 45px;
    padding: 100px 100px; */
        width: 100px;
        height: 100px;
}
/* Navigation bar : List styling  */
#navbar ul {
    display: flex;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: red;
    /* display: flex; */
    padding: 2em 2em;
    border-radius: 1em;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: aliceblue;
    background-color: rgb(255, 102, 0);
}

/* Home Section  */
#home {
    display: flex;
    flex-direction: column;
    height: 98vh;
    padding: 0.5em 4em;
    justify-content: center;
    align-items: center;
}
#home::before {
    content: "";
    background: url(bg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home h1 {
    color: white;
    text-align: center;
    font-family: 'Barriecito', cursive;
}
#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Barriecito', cursive;
/* font-family: 'Edu SA Beginner', cursive;
font-family: 'Lugrasimo', cursive; */
}

/* Services Section  */
/* .services-container::before{
    content: "";
    position: absolute;
    background: url(services.jpg) no-repeat center center/cover;
    width: 100%;
    height: 71%;
    z-index: -1;

} */
#services {
    margin: 2rem;
    /* margin-right: 7rem; */
    display: flex;
    padding: 0rem 10rem;
}
#services .box{
    border: 2px solid brown;
    margin: 0.5em 0.5em;
    padding: 1em 4em; 
    border-radius: 23px;
    /* background-color: aliceblue; */
    /* color: white; */
}
#services .box img{
    height: 20rem   ;
    width: 20em;
    margin: auto;
    display: block;
}
#services #box-1 {
    background-color: rgb(163 229 163);
}
#services #box-1 img{
    margin-left: 0;
}
#services #box-1 img:hover {
    /* animation: delivery 1s ease-in-out 0s infinite ; */
    transform: translate(4.8rem);
    transition: all 1s ;
}
/* @keyframes delivery {
    0% {
        margin-left: 0;
    }
    50% {
        margin: auto;
    }
    100% {
        margin-right: 0;
    }
} */
#services #box-2 {
    background-color: burlywood;
}
#services #box-2 img {
    transition: all 1s;
}
#services #box-2 img:hover {
    /* transform: scale(1.2); */
    /* animation: delivery 1s ease-in-out 0s infinite alternate; */
    transform: rotate(360deg);
    /* transform: translate(100px); */
}
#services #box-3 {
    background-color: grey;
}
#services #box-3 img {
    margin-top: 1rem;
    transition: all 1s;
}
#services #box-3 img:hover {
    transform: scale(1.2);
}
#services{}
#services{}

/* Clients section */
#client-section {
    height: 35.5dvh;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(bg1.jpg);
    width: 100%;
    height: 36%;
    z-index: -1;
    opacity: 0.4;
}
.client-item {
    padding: 1em;
}
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 8em;
}

/* Contact Section  */
.contact {
    position: relative;
}
.contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url(Contacts.jpg) no-repeat center center/cover;
    margin-top: 0.2em;
}
#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}
#contact-box input,
#contact-box textarea {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 9px;
}
#contact-box form {
    width: 30%;
}
#contact-box label {
    font-size: 1.3rem;
}

footer {
    padding: 0.5em;
}
/* Utility Class  */
.h-primary {
    font-size: 4rem;
    padding: 1rem;
    font-family: 'Barriecito', cursive;
}
.h-secondary {
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Barriecito', cursive;
}
.btn {
    padding: 1rem 2rem;
    border: 2px solid white;
    background-color: rgb(162, 85, 85);
    color: aliceblue;
    margin: 1em;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
}
.center {
    text-align: center;
}